

html,body
{
    margin:auto;
    padding:0;
    height:100vh;
    position: relative;
}

p{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/*navbar*/

.container{
  padding-top: 30px;
}

.home{
  background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(../../assets/img/home.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}

.headline{
  text-align:left;
  color:#fff;
  padding-top: 100px;
}

.headline h1{

  padding:20px;
  border-top:5px solid;
  border-bottom:5px solid;
  display:table-cell;
  font-size:64px;
}

.headline p{
  padding:10px;
  font-size:18px;
}

.wedo{
/*  padding:100px 0 100px;*/
  background-image:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(../../assets/img/wedo.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.content{
  color:#fff;
  padding:30px 0 30px;
  padding-top: 150px;
}

.content h1{
  font-size:50px;
  border-bottom:5px solid;
  border-top:5px solid;
}


.specialization{
  padding:100px 0 100px;
  background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(../../assets/img/operations.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.specialization .fa{
  font-size: 90px;
}



.operations{
  padding:100px 0 100px;
  background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(../../assets/img/operations.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
/*features*/
.features{
  color:#fff;
  text-align:center;
  font-size: 16px;
}

.features-headline{
  text-align: center;
  padding:10px;
  color:#fff;
  font-size: 40px;
}

.features h1{
  padding: 20px;
  font-size: 40px;
  border-bottom: 5px solid;
}

/*testimonials*/
.testimonials{
/*    padding:100px 0 100px;*/
  background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(../../assets/img/testimonials.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.testimonial-head{
  padding-top: 20px;
  color: #fff;
  text-align: right;
  font-size: 50px;
}
.testimonial-content{
  padding-top: 90px;
}

#testimonial-carousel{
  background: transparent;
  padding: 10px 0px 100px;
}
.carousel-control{
  background: transparent;
}
.comment{
  padding: 40px 0px 100px;
  color:#fff;
  text-align: right;
}
.comment h1{
  text-align: right;
  border-bottom: 5px solid;
  font-size: 40px;
}


/*contact*/
.contact{
/*  padding:100px 0 100px;*/
  background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(../../assets/img/contact.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
}
.contact h1{
  text-align: center;
  color: #fff;
}
.contact .content h1{
  border:none;
}
.social .fa{
  padding: 30px 0 50px;
  padding-left: 20px;
  color: #fff;
  font-size: 50px;
  opacity: 0.75;
}

.social .fa:hover{
  opacity: 1;
}

.details{
  padding: 30px 0 50px;
  color: #fff;
}
.details p{
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
}

/*scroll*/

@media(max-width: 768px ){
  h1{
    font-size: 25px;
  }
  p{
    font-size: 13px;
  }
/*home*/
.headline{
  text-align:left;
  color:#fff;
  padding-top:200px;
}

.headline h1{
  padding:20px;
  border-top:5px solid;
  border-bottom:5px solid;
  display:table-cell;
  font-size:30px;
}

.headline p{
  padding:10px;
  font-size:13px;
}

.wedo{
  padding-top: 150px;
}

/*wedo*/
.content{
  color:#fff;
  padding:10px 0 10px;
}

.content h1{
  font-size:30px;
  border-bottom:5px solid;
  border-top:5px solid;
}

.features{
  color:#fff;
  text-align:center;
  font-size: 16px;
}

.features-headline{
  text-align: center;
  color:#fff;
  font-size: 30px;
}

.features h1{
  font-size: 15px;
}

.features p {
  font-size: 12px;
}

.specialization .fa{
  font-size: 45px;
}

.container{
  padding:10px;
}

.testimonial-head{
  padding-top: 10px;
  color: #fff;
  text-align: right;
  font-size: 20px;
}
.testimonial-content{
  padding-top: 10px;
}

#testimonial-carousel{
  background: transparent;
  padding: 10px 0px 10px;
}
.carousel-control{
  background: transparent;
}
.comment{
  padding: 10px 0px 40px;
  color:#fff;
  text-align: right;
}
.comment h1{
  text-align: right;
  border-bottom: 5px solid;
  font-size: 20px;
}

.details{
  padding: 30px 0 0px;
  color: #fff;
}
.details p{
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
}

.social .fa{
  padding: 30px 0 10px;
  padding-left: 20px;
  color: #fff;
  font-size: 40px;
  opacity: 0.75;
}
.contact h1{
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.contact .content h1{
  border:none;
}
}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 60px;
  height: 60px;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 45px;
    height: 45px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}



@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
/*button for sidebar toggle*/

input{
  background-color: transparent !important;
  border:none!important;
  border-bottom: white 2px solid !important;
  color: white !important;
}


.message{
  padding-top: 20px;
}
textarea{
    background-color: transparent !important;
  border:none white 2px solid !important;
  color: white !important;
}
.submit{
  padding-top: 20px;
}
.submit button{
  background: #000;
  color: #fff;
}

.submit button:hover{
  background: #fff;
  color: #000;
}

.input-group-addon{
  background-color:transparent !important;
  border:none !important;
  font-size: 20px;
  color: #fff;
}

@media:(max-width: : 768px){
  .navbar { 
    padding: 15px 10px;
    background: transparent;
}
.navbar button{
  background: transparent;
  border:none transparent;
  font-size: 15px;
}
.navbar-brand{
  color: #fff!important;
  font-size: 15px;
}

.navbar-default{
  box-shadow: none;
  border:none;
  color: #fff;
}

#sidebar {
    background:#000!important;
    width: 100px;
    position: fixed;
    top: 0;
    left: 100px;
    height: 100vh;
    z-index: 999;
    color: #fff;
    text-align: center;
    font-size: 20px;
/*    text-transform: uppercase;*/
    letter-spacing: 2px;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar .navbar-brand{
  float:none;
  text-align: center;
  padding:50px 0 50px;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    line-height: 35px;
    background: transparent;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    float: left
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #000;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar ul.components {
    padding: 80px 0;
}

#sidebar ul li a {
    padding: 30px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar { 
    padding: 15px 10px;
    background: transparent;
}
.navbar button{
  background: transparent;
  border:none transparent;
  font-size: 35px;
}
.navbar-brand{
  color: #fff!important;
  font-size: 30px;
}

.navbar-default{
  box-shadow: none;
  border:none;
  color: #fff;
}

@media(max-height: 2000px){
#sidebar {
    background: #000;
}
}
/*sidebar*/
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    color: #fff;
    text-align: center;
    font-size: 20px;
/*    text-transform: uppercase;*/
    letter-spacing: 2px;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar .navbar-brand{
  float:none;
  text-align: center;
  padding:50px 0 50px;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    line-height: 35px;
    background: transparent;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    float: left
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #000;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar ul.components {
    padding: 80px 0;
}

#sidebar ul li a {
    padding: 30px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
